.footer-container1 {
  background-color: #f9f9f9;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #161616;
  border-top: 0.02rem solid #a5a1a1;
  border-bottom: 0.02rem solid #a5a1a1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container1-right {
  margin-left: 7.1rem;
}

.footer-container1-left {
  margin-right: 7.6rem;
}

.footer-links {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #161616;
  margin: 5px;

  text-decoration: none;
}

.footer-container2 {
  background-color: #f9f9f9;
  height: 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container2-right {
  margin-left: 7.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container2-right img {
  width: 3rem;
  height: 3rem;
}

.footer-container2-right img:nth-child(1) {
  margin-right: 2rem;
}

.footer-container2-left {
  margin-right: 7.6rem;
}

.footer-container2-left img:nth-child(1) {
  width: 5.3rem;
  height: 4.3rem;
  margin-right: 2.4rem;
}

.footer-container2-left img:nth-child(2) {
  width: 2.8rem;
  height: 3.3rem;
  margin-right: 2.4rem;
}

.footer-container2-left img:nth-child(3) {
  width: 5.3rem;
  height: 1.8rem;
}

.email-input {
  width: 37rem;
  height: 5.4rem;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: black;
  border: 0.5px solid #d9d9d9;
  border-radius: 5px 0px 0px 5px;
  margin-top: 1.8rem;
}

input::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #a8a4a4;
  padding: 1.3rem 1.3rem;
}

.input-button-container {
  display: flex;
  align-items: flex-end;
}

@media (max-width: 900px) {
  .footer-container1 {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: flex-start;
  }

  .footer-container1-left > p {
    text-align: center;
    margin-top: 2rem;
  }
}

@media (max-width: 700px) {
  .input-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .email-input {
    border-radius: 5px 5px 5px 5px;
  }
}
